<%= render 'shared/banner', banner_img: @list.photo.key, banner_content: @list.name %>

<div class="container">
  <div class="custom-container">
    <h2>All your bookmarks</h2>
    <%= link_to "Add a new bookmark", new_list_bookmark_path(@list), class: "btn btn-flat" %>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render 'shared/movieCard', bookmark: bookmark %>
    <% end %>
  </div>
</div>
