<% banner_img = banner_img || "mountain" %>

<% banner_content = banner_content || "Save any kind of movies" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path banner_img, crop: :fill %>')">
  <%= banner_content %>
</div>
